<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="manage_student_app.Properties.Settings.QLSVienConnectionString"
            connectionString="Data Source=DESKTOP-PL1AB0Q;Initial Catalog=QLSVien;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>