USE [master]
GO
/****** Object:  Database [QLSVien]    Script Date: 01/11/2021 12:20:21 CH ******/
CREATE DATABASE [QLSVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVien]
GO
/****** Object:  Table [dbo].[DKIEN]    Script Date: 01/11/2021 12:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKIEN](
	[MAMH] [varchar](8) NOT NULL,
	[MAMH_TRUOC] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAMH_TRUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HPHAN]    Script Date: 01/11/2021 12:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPHAN](
	[MAHP] [int] NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[HOCKI] [int] NULL,
	[NAM] [int] NULL,
	[GV] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 01/11/2021 12:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](4) NOT NULL,
	[TENKHOA] [varchar](30) NOT NULL,
	[NAMTHANHLAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KQUA]    Script Date: 01/11/2021 12:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KQUA](
	[MASV] [int] NOT NULL,
	[MAHP] [int] NOT NULL,
	[DIEM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MHOC]    Script Date: 01/11/2021 12:20:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MHOC](
	[TENMH] [varchar](30) NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[TINCHI] [int] NULL,
	[MAKH] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SVIEN]    Script Date: 01/11/2021 12:20:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVIEN](
	[TEN] [varchar](30) NOT NULL,
	[MASV] [int] NOT NULL,
	[NAM] [int] NULL,
	[MAKH] [varchar](4) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
 CONSTRAINT [PK__SVIEN__60228A28D5FF4B9A] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (1, N'PRN292', 1, 1, N'TuanMT')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'BA', N'BA', 1950)
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'SE', N'Software Engineering', 1900)
GO
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM]) VALUES (1, 1, 10)
GO
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'.NET and C#', N'PRN292', 3, N'SE')
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'Software Requirements', N'SWR302', 3, N'SE')
GO
INSERT [dbo].[SVIEN] ([TEN], [MASV], [NAM], [MAKH], [NGAYSINH]) VALUES (N'Nguyen Hung', 1, 4, N'SE', CAST(N'2000-08-09' AS Date))
GO
ALTER TABLE [dbo].[DKIEN]  WITH CHECK ADD  CONSTRAINT [FK_DKIEN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DKIEN] CHECK CONSTRAINT [FK_DKIEN_MAMH]
GO
ALTER TABLE [dbo].[HPHAN]  WITH CHECK ADD  CONSTRAINT [FK_HPHAN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[HPHAN] CHECK CONSTRAINT [FK_HPHAN_MAMH]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MAHP] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HPHAN] ([MAHP])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MAHP]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MASV] FOREIGN KEY([MASV])
REFERENCES [dbo].[SVIEN] ([MASV])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MASV]
GO
ALTER TABLE [dbo].[MHOC]  WITH CHECK ADD  CONSTRAINT [FK_MHOC_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[MHOC] CHECK CONSTRAINT [FK_MHOC_MAKH]
GO
ALTER TABLE [dbo].[SVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SVIEN_MAKHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[SVIEN] CHECK CONSTRAINT [FK_SVIEN_MAKHOA]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[SVIEN]  WITH CHECK ADD  CONSTRAINT [CK__SVIEN__NAM__267ABA7A] CHECK  (([NAM]>=(1) AND [NAM]<=(4)))
GO
ALTER TABLE [dbo].[SVIEN] CHECK CONSTRAINT [CK__SVIEN__NAM__267ABA7A]
GO
USE [master]
GO
